.hero {
  /* background-image: linear-gradient(128deg,rgb(0, 0, 0) 0%,rgb(14, 14, 14) 80% ); */
  background-image: url(../images/test.jpg);
  height: 88vh;
  padding-top: 4%;
  display: block;
}

.logo {
  padding-top: 5%;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.aboutH4 {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 70px;
  /* background-color: orchid; */
  text-align: center;
  color: rgb(255, 102, 2);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.aboutUsTextContainer {
  width: 50%;
  margin-left: 25%;
}

.aboutP {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  margin-bottom: 2%;
}

@media screen and (max-width: 800px) {
  .logo {
    padding-top: 50%;
  }

  .aboutUsTextContainer {
    width: 96%;
    margin-left: 2%;
    margin-top: 6%;
  }
}

@media screen and (max-height: 900px) {
  .hero {
    height: 80vh;
  }

  .aboutH4 {
    font-size: 50px;
  }

  .aboutP {
    font-size: 14px;
  }
}

@media screen and (max-height: 850px) {
  .hero {
    height: 80vh;
  }

  .aboutH4 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 40px;
  }

  .aboutP {
    font-size: 18px;
  }

  .logo {
    padding-top: 5%;
  }
}

@media screen and (max-height: 850px) {
  .hero {
    height: 80vh;
  }

  .aboutH4 {
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 40px;
  }

  .aboutP {
    font-size: 14px;
  }

  .logo {
    padding-top: 12%;
  }
}

@media screen and (max-height: 850px) and (min-width: 700px) {
  .logo {
    padding-top: 8%;
  }
}

@media screen and (max-height: 420px) {
  .logo {
    padding-top: 3%;
  }
  .aboutH4 {
    font-size: 20px;
  }
  .aboutP {
    font-size: 8px;
  }
}
