.footer {
  background-color: rgb(110, 108, 107);
  height: 6vh;
  display: flex;
}

.footer h4 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.endereco {
  /* background-color: aquamarine; */
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  margin-left: 2%;
}

.telefones {
  /* background-color: bisque; */
  display: flex;
  width: 38%;
  align-items: center;
  justify-content: right;
  margin-right: 2%;
}

@media screen and (max-height: 850px) {
  .footer {
    height: 10vh;
    display: block;
  }

  .telefones {
    margin-top: -2%;
    width: 100%;
    height: 50%;
    margin-right: 0%;
    justify-content: center;
  }

  .endereco{
    width: 100%;
    height: 50%;
    margin-left: 0%;
    justify-content: center;
  }
   
  .footer .fab {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .footer h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .footer h4 {
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  .footer h4 {
    font-size: 8px;
  }
}




