.footer {
  background-color: rgb(110, 108, 107);
  height: 6vh;
  display: flex;
}

.footer h4 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.endereco {
  /* background-color: aquamarine; */
  display: flex;
  width: 58%;
  justify-content: left;
  align-items: center;
  margin-left: 2%;
}

.telefones {
  /* background-color: bisque; */
  display: flex;
  width: 38%;
  align-items: center;
  justify-content: right;
  margin-right: 2%;
}

@media screen and (max-height: 850px) {
  .footer {
    height: 10vh;
    display: flex;
  }

  .telefones {
    width: 50%;
    margin-right: 2%;
  }

  .endereco{
    width: 50%;
    margin-left: 2%;
  }
   
  .footer .fab {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .footer h4 {
    font-size: 14px;
  }
}
