* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-weight: lighter;
}

body {
  background-color: rgb(110, 108, 107);
}

a{
  text-decoration: none;
}
