* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-weight: lighter;
}

body {
  background: linear-gradient(to right, #494949,#8a6a4c, #905925,#8a6a4c, #494949);
}

a{
  text-decoration: none;
}
