* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-weight: lighter;
}

body {
  background: linear-gradient(to right, #aaa9a9,#494949, #2c2c2c,#494949, #aaa9a9);
}

a{
  text-decoration: none;
}
