.navbar {
  /* background-color: rgb(110, 108, 107); */
  background: linear-gradient(
    to right,
    #aaa9a9,
    #494949,
    #2c2c2c,
    #494949,
    #aaa9a9
  );
  height: 6vh;
  display: flex;
}

.navbar h4 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.homePage {
  background-color: rgb(37, 37, 37);
  font-weight: bold;
  display: flex;
  width: 8%;
  margin-left: 2%;
  align-items: center;
  justify-content: center;
}

.followUs {
  /* background-color: aqua; */
  height: 70%;
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
}

.iconeRedeSocial {
  font-size: 30px;
  transition: 0.3s;
}

.iconeRedeSocial:hover {
  font-size: 40px;
  transition: 0.3s;
}

.fab,
.fa {
  color: rgb(255, 255, 255);
}

.fab:hover,
.fa:hover {
  color: rgb(255, 145, 0);
}

.followUsHeader::after {
  content: "SIGA-NOS:";
}

/* ----------------------------------- */
#mobile-menu {
  /* background-color: rgb(0, 255, 255); */
  position: absolute;
  top: 1%;
  right: 5%;
  transform: translate(5%, 20%);
}

.navbar__toggle .bar {
  display: block;
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* ----------------------------------- */

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f05800ef;
  transition: all 0.3s ease;
  font-size: 2rem;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.navbar__menu {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -800px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: -1;
}

.navbar__menu.active {
  /* background: #f05800ef; */
  background: linear-gradient(to right, #929292d8, #000000, #929292d8);
  top: 5%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 99;
  height: 60vh;
  font-size: 1.6rem;
}

.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #fff;
}

.navbar__links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

.navbar__btn {
  padding-bottom: 2rem;
}

/* ----------------------------------- */

@media screen and (max-height: 800px) {
  .navbar {
    height: 10vh;
    display: flex;
  }

  .followUs {
    height: 10vh;
  }

  #mobile-menu {
    top: 2%;
  }
}

@media screen and (max-width: 800px) {
  .navbar a {
    font-size: 30px;
  }

  .followUsHeader::after {
    content: "";
  }

  .navbar__menu.active {
    top: 7%;
  }

  .followUs {
    width: 40%;
  }
}

@media screen and (max-height: 420px) {
  .navbar h4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  .followUs {
    height: 10vh;
    width: 30%;
    margin-left: 2%;
  }

  #mobile-menu {
    position: absolute;
    top: 0%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__menu.active {
    top: 10%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 90vh;
    font-size: 1.6rem;
  }
}
