.services {
  /* background: #7a1818; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 10rem 0;
}

.servicesH4 {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 70px;
  /* background-color: orchid; */
  text-align: center;
  color: rgb(192, 93, 0);
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 10px;
  height: 42vh;
  width: 20vw;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  border: 2px solid rgb(255, 102, 2);
}

.externalDetailing{
  background-image: url(../images/externalDetailing.jpg);
}

.coating{
  background-image: url(../images/coating.png);
}

.internalDetailing{
  background-image: url(../images/internalDetailing.jpg);
}

.piecesAndParts{
  background-image: url(../images/piecesAndParts.jpg);
}
.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 66%;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ff7b00;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.serviceMenuP{
  font-size: 20px;
  display: flex;
  margin-top: 20%;
  color: rgb(255, 102, 2);
  height: 27px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

@media screen and (max-height: 900px){
  .services__card {
    margin: 10px;
    height: 20vh;
    width: 40vw;
  }
  .servicesH4 {
    margin-top: -40%;
    margin-bottom: 1%;
    font-size: 35px;
  }
}

@media screen and (max-height: 800px){
  .services__card {
    margin: 10px;
    height: 25vh;
    width: 40vw;
  }
  
  .servicesH4 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 35px;
  }

  .services__card button {
    padding: 7px 12px;
  }
}

@media screen and (max-width: 1000px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .services {
    height: 70vh;
    padding: 10rem 0;
  }
}

@media screen and (max-width: 768px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .serviceMenuP{
    font-size: 14px;
    margin-top: 10%;
  }

  .services__btn {
    margin-top: 40%;
  }

  .services {
    height: 70vh;
    padding: 10rem 0;
  }
}
