.itemsDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr;
}


.servicesItem{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(255, 102, 2);
  background: rgba(65, 65, 65, 0.329);
  width: 70%;
  height: 50px;
  margin-left: 15%;
  border-radius: 4px;
  margin-bottom: 5%;
}

.serviceDetailsH4{
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 55px;
  text-align: center;
  color: rgb(255, 102, 2);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}


.main__btn {
  font-size: 1.8rem;
  background: #422020;
  background: -webkit-linear-gradient(to right, #4400ff, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #7a3b00, #ff7b00, rgb(160, 77, 0));
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff6600;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .servicesItem{
    margin-top: 10%;
    margin-bottom: 8%;
  }
  .main__btn {
    font-size: 1rem;
  }

  .servicesItem{
    font-size: 12px;
  }
}

@media screen and (max-height: 850px) {
  .servicesItem{
    margin-top: 4%;
    margin-bottom: 5%;
  }

  .serviceDetailsH4{
    font-size: 40px;
  }
  .main__btn {
    font-size: 1rem;
  }
}

@media screen and (max-height: 650px) {
  .serviceDetailsH4{
    font-size: 22px;
  }
}

@media screen and (max-height: 850px) and (min-width: 600px) {
  .itemsDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
  }
}